// out:../css/style.css

.hamburger {
    width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_img {
        background: lightgrey;
        margin: 0 0 20px 0;
    }
    &_size,
    &_filling,
    &_topping{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid lightgray;
        border-radius: 7px;
        padding: 17px;
        box-sizing: border-box;
    }
    &_topping-choosing {
        margin: 0 0 15px 0;
    }
    &_info {
        display: block;
        margin: 10px 0;
        &:first-child {
            margin: 0 0 10px 0;
        }
        &:last-child {
            margin: 10px 0 0 0;
        }
    }
    &_total {
        margin: 30px 0 0 0;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.heading-mini {
    text-align: center;
}

.text {
    display: block;
    margin: 0 0 7px 0;
    &:last-child {
        margin: 0;
    }
}

.button_take-it {
    margin: 30px 0 0 0;
}