<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <navigation class="navigation">
            <a href="#" class="logo">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </a>
            <form action="" class="search-form">
                <input type="text" class="search-form_search-field">
                <input type="submit" class="search-form_submit-button" value="Search">
            </form>
        </navigation>
        <button class="basket-button">Basket</button>
    </header>
    <main>
        <div class="basket-wrapper">
            <div class="basket __hidden"></div>
            <div class="basket basket_with-goods">
                <div class="basket_items">
                    <div class="basket-item">
                        <span class="basket-item_title">Title 1</span>
                        <span class="basket-item_price">Price</span>
                        <span class="basket-item_quantity">Quantity</span>
                        <span class="basket-item_cost">Cost</span>
                    </div>
                    <div class="basket-item">
                        <span class="basket-item_title">Title 2</span>
                        <span class="basket-item_price">Price</span>
                        <span class="basket-item_quantity">Quantity</span>
                        <span class="basket-item_cost">Cost</span>
                    </div>
                    <div class="basket-item">
                        <span class="basket-item_title">Title 3</span>
                        <span class="basket-item_price">Price</span>
                        <span class="basket-item_quantity">Quantity</span>
                        <span class="basket-item_cost">Cost</span>
                    </div>
                    <div class="basket-item">
                        <span class="basket-item_title">Title 1</span>
                        <span class="basket-item_price">Price</span>
                        <span class="basket-item_quantity">Quantity</span>
                        <span class="basket-item_cost">Cost</span>
                    </div>
                    <div class="basket-item">
                        <span class="basket-item_title">Title 2</span>
                        <span class="basket-item_price">Price</span>
                        <span class="basket-item_quantity">Quantity</span>
                        <span class="basket-item_cost">Cost</span>
                    </div>
                    <div class="basket-item">
                        <span class="basket-item_title">Title 3</span>
                        <span class="basket-item_price">Price</span>
                        <span class="basket-item_quantity">Quantity</span>
                        <span class="basket-item_cost">Cost</span>
                    </div>
                </div>
                <span class="total-cost">Total cost</span>
            </div>
        </div>
        <section class="goods-list">
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, eius!</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet.</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iure, tempora, expedita adipisci quos ipsam.</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nam, impedit, libero deserunt nobis alias amet non voluptatem architecto ex, magnam sequi ducimus omnis reprehenderit repellat iusto vitae officia animi!</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet.</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, eius!</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nam, impedit, libero deserunt nobis alias amet non voluptatem architecto ex, magnam sequi ducimus omnis reprehenderit repellat iusto vitae officia animi!</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
            <div class="good-item">
                <img src="#" alt="title" class="good-item_img" height="150">
                <span class="good-item_title">Title</span>
                <span class="good-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iure, tempora, expedita adipisci quos ipsam.</span>
                <span class="good-item_price">Price</span>
                <button class="button-add">Add</button>
            </div>
        </section>
        <form action="#" class="feedback-form">
            <div class="feedback">
                <span class="feedback_title">Contact us</span>
                <label for="" class="field">
                    <span class="field_title">Name:</span>
                    <span class="field_error">The name must contain only letters.</span>
                    <input type="text" class="field_enter name">
                </label>
                <label for="" class="field">
                    <span class="field_title">Phone:</span>
                    <span class="field_error">The phone should look like +7(000)000-0000</span>
                    <input type="text" class="field_enter phone">
                </label>
                <label for="" class="field">
                    <span class="field_title">E-mail:</span>
                    <span class="field_error">E-mail must look like this mymail@mail.ru, or my.mail@mail.ru, or my-mail@mail.ru</span>
                    <input type="text" class="field_enter mail">
                </label>
                <label for="" class="field">
                    <span class="field_title">Comment:</span>
                    <span class="field_error">Must contain at least 1 character.</span>
                    <textarea class="field_enter comment"></textarea>
                </label>   
                <input type="submit" class="feedback-form_submit-button" value="Submit">             
            </div>
        </form>
    </main>
    <footer class="footer">
        <span class="copyright">copyright 2020 all rights reserved</span>
    </footer>
</body>
</html>
